<meta name="admin.active.section" content="jenkins_web_section/jenkins_menu_item"/>
<meta name="admin.active.tab" content="jenkins_web_item"/>
<table class=tableBorder border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr class=rowHeader>
			<td class="colHeaderLink" colspan=60>
				<h1> $i18n.getText("admin.name") </h1>
			</td>
		</tr>
		<tr>
		<td>
			<p>$i18n.getText("admin.description") <br>
			$i18n.getText("admin.description2")</p>
    	</td>
    </tr>
    <tr>
        <td>
            <table border="0" cellpadding="3" cellspacing="1" width="75%">
                <tr>
                	<td>
                		<h3> $i18n.getText("admin.table.header") </h3>
                	</td>
                </tr>
                #foreach($server in $serverList)
                    <tr>
                        <td>
                        	<p>Name: $server.getName()</p>
                        </td>
                        <td>
                            <p>Url: $server.getUrl()</p>
                        </td>
                    </tr>
                #end
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table border="0" cellpadding="3" cellspacing="1" width="60%">
            	<tr>
	               	<form name="addForm" method="POST" action="$context.contextPath/plugins/servlet/jenkinsinstances">
	               		<td>Name:</td>
      					<td><input name="name" id="name" type="text" size="30" maxlength="40"></td>
      					<td>Url:</td>
      					<td><input name="url" id="url" type="text" size="50" maxlength="100"></td>
	               		<td>
	               			<input type="hidden" name="mode" id="mode" value="add">
	               			<input type="button" name="add" value="$i18n.getText("admin.table.button.add")" onclick="javascript:document.addForm.submit()">
	                   	</td>
	            	</form>
	            </tr>
	            <tr>
	               	<form name="delForm" method="POST" action="$context.contextPath/plugins/servlet/jenkinsinstances">
	               		<td>Name:</td>
      					<td><input name="name" type="text" size="30" maxlength="40"></td>
      					<td></td>
      					<td></td>
	               		<td>
	               			<input type="hidden" name="mode" value="del">
	               			<input type="button" name="delete" value="$i18n.getText("admin.table.button.del")" onclick="javascript:document.delForm.submit()">
	                   	</td>
	            	</form>
	            </tr>
			</table>
        </td>
    </tr>	            
</table>
