<table class=tableBorder border="0" cellpadding="0" cellspacing="0" width="100%">
    <table id="server" style="display:none" border="0" cellpadding="3" cellspacing="1" width="75%">
		<tr>
			<td>
				<h3> $i18n.getText("admin.table.header") </h3>
			</td>
		</tr>
		#foreach($server in $serverList)
			<tr>
				<td>
					<p>Name: $server.getName()</p>
				</td>
				<td>
					<p>Url: $server.getUrl()</p>
				</td>
			</tr>
		#end
 	</table>
    <tr>
        <td>
            <table border="0" cellpadding="3" cellspacing="1" width="100%">
                <tr class=rowHeader>
                    <td class="colHeaderLink" colspan=60>
                        $i18n.getText("portlet.overview.title"):
  						#if($view!="")
	                    	$i18n.getText("portlet.overview.property.view.name") <b>$view</b>
	                   	#else
	                   		<b>$i18n.getText("portlet.overview.complete")</b>
	                    #end                        
                         ($i18n.getText("portlet.overview.property.jenkinsurl.name"): $jenkinsUrl) User: $user
                         <input type="button" name="display_button" value="show/hide instances" onclick="display()"/>
                    </td>
                </tr>
                <tr class=rowNormal>
                    <td>
                        <b>$i18n.getText("portlet.overview.status")</b>
                    </td>
                    <td>
                        <b>$i18n.getText("portlet.overview.job")</b>
                    </td>
                    <td>
                        <b>$i18n.getText("portlet.overview.lastSuccess")</b>
                    </td>
                    <td>
                        <b>$i18n.getText("portlet.overview.failure")</b>
                    </td>
                    <td>
                        <b>$i18n.getText("portlet.overview.startBuild")</b>
                    </td>
                </tr>
                #foreach($hJob in $jobs)
                    <tr class=rowNormal>
                        <td>
                            <img src="$context.contextPath/download/resources/jira-jenkins-plugin.jira-jenkins-plugin/pics.32x32/${hJob.getColor()}.gif" alt=""/>
                        </td>
	                     <td>
                            <a href="$hJob.getUrl()" target="_blank">
                                $hJob.getName()
                            </a>
                        </td>
                        <td>
                        	#if($hJob.getLastSuccBuild().getNumber() != "./." )
								$hJob.getLastSuccBuild().getTimestampFromNow() 
								(<a href="$hJob.getLastSuccBuild().getUrl()" target="_blank">
									#$hJob.getLastSuccBuild().getNumber()
								</a>)
							#end
                        </td>
                        <td>
    	                	#if($hJob.getLastFailBuild().getNumber() != "./." )
								$hJob.getLastFailBuild().getTimestampFromNow() 
								(<a href="$hJob.getLastFailBuild().getUrl()" target="_blank">
									#$hJob.getLastFailBuild().getNumber()
								</a>)
							#end
                        </td>
                        <td>
                            <a href="$hJob.getBuildTrigger()"><img src="$context.contextPath/download/resources/jira-jenkins-plugin.jira-jenkins-plugin/pics.32x32/clock.gif" alt=""/></a>
                        </td>
                    </tr>
                #end 
            </table>
        </td>
    </tr>
</table>
<script type="text/javascript">
	function display(){
		if(server.style.display == "none"){
			server.style.display = "block";
		}else{
			server.style.display = "none";
		} ;
	}
</script>
